extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sebastian Dounchis

        p.lead.text-light
          | High School Student

        .portfolio-bio
          p
          | I first started coding in my 7th grade coding class taught by Mr. Toth. We did basic coding where we passed by certain units each day, learning how to do lists and set up web pages. Then in ninth grade, I took AP CSP as an elective. Since I excelled in that class and liked the assigned coding projects. I decided to take AP CSA as well, and now I am taking Advanced Topics Web Development with Mr.Ostrom.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Coding
          li Playing Tennis
          li Getting Good Grades
          li Multitasking
          li Eating

        h6 Contact Info

        ul
          li sebastian167n@gmail.com
          li (239)771-0993

        a.button.expanded(href='https://www.instagram.com/dounchis.sebastian/') Instagram
        a.button.expanded(href='https://github.com/sdounchis') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
